@model ProductVM
<div class="pb-3">
<form method = "post">
    <div class="border p-3 mt-4">
        <h2 class="text-primary pb-2">
            Create Product
        </h2>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="mb-3 row p-1">
        <label asp-for="Product.Title" class="p1"></label>
        <input asp-for="Product.Title" class="form-control" />
        <span asp-validation-for="Product.Title" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Product.Description" class="p1"></label>
        <input asp-for="Product.Description" class="form-control" />
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Product.ISBN" class="p1"></label>
        <input asp-for="Product.ISBN" class="form-control" />
        <span asp-validation-for="Product.ISBN" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Product.Author" class="p1"></label>
        <input asp-for="Product.Author" class="form-control" />
        <span asp-validation-for="Product.Author" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Product.ListPrice" class="p1"></label>
        <input asp-for="Product.ListPrice" class="form-control" />
        <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Product.Price" class="p1"></label>
        <input asp-for="Product.Price" class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Product.Price50" class="p1"></label>
        <input asp-for="Product.Price50" class="form-control" />
        <span asp-validation-for="Product.Price50" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Product.Price100" class="form-select borded  "></label>
        <input asp-for="Product.Price100" class="form-control" />
        <span asp-validation-for="Product.Price100" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1"> 
        <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="p1 form-select">
            <option disabled selected>--select catagory--</option>
        </select>
        <label asp-for="Product.CategoryId" class="form-control" > </label>
        
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Product.ImageUrl" class="p1"></label>
        <input asp-for="Product.ImageUrl" class="form-control" />
        <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-6 col-md-3">
    <button type="submit" class="btn btn-primary form-control" >Create</button>
    </div>
    <div class="col-6 col-md-3">
    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control">Back to list</a>
    </div>
    </div>
</form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}