@model Product
<div class="pb-3">
<form method = "post">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <h2 class="text-primary pb-2">
            Edit Category
        </h2>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="mb-3 row p-1">
        <label asp-for="Title" class="p1"></label>
        <input asp-for="Title" disabled class="form-control" />
        
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Description" class="p1"></label>
        <input asp-for="Description" disabled  class="form-control" />
        
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="ISBN" class="p1"></label>
        <input asp-for="ISBN" disabled class="form-control" />
        
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Author" class="p1"></label>
        <input asp-for="Author" disabled class="form-control" />
       
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="ListPrice" class="p1"></label>
        <input asp-for="ListPrice" disabled class="form-control" />
        
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Price" class="p1"></label>
        <input asp-for="Price" disabled class="form-control" />
        
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Price50" class="p1"></label>
        <input asp-for="Price50" disabled class="form-control" />
        
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Price100" class="p1"></label>
        <input asp-for="Price100" disabled class="form-control" />
        
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="ImageUrl" class="p1"></label>
        <input asp-for="ImageUrl" disabled class="form-control" />
        
    </div>
    <div class="row">
        <div class="col-6 col-md-3">
    <button type="submit" class="btn btn-danger form-control" >Delete</button>
    </div>
    <div class="col-6 col-md-3">
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary form-control">Back to list</a>
    </div>
    </div>
</form>
</div>
