@model List<Product>

<partial name="_Notification"/>

<div class="container"> 
    <div class="row pt=4 pb-2">
        <div class="col-6">
            <h2 class="text primary">
                Catagory List
            </h2>
        </div>
        <div class="col-6 text-end" >
            
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i> Create New Catagory</a>

        </div>
    </div>

    <table id="myTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center bg-primary text-white">
                    Title  
                </th>
                <th class="text-center bg-primary text-white">
                    Author
                </th>
                <th class="text-center bg-primary text-white">
                    ISBN
                </th>
                <th class="text-center bg-primary text-white">
                    Price
                </th>
                <th class="text-center bg-primary text-white" >Catagory</th>
                <th class="text-center bg-primary text-white" >option</th>
                
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
<script src="~/js/product.js"></script>
}