html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.fitting-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.fitting-image2 {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: auto 0;
}
footer {
  
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto ;
  width: 100%;
  overflow: hidden;
}