@model Product

<div class="row">
    <div class="col-5" >
        <img src="@Model.ImageUrl"  class="fitting-image2 ">
    </div>
    <div class="col-7 text-center">
        <div>
            <h1>@Model.Title</h1>
        </div>
        <div>
           
                @Model.Description
            
        </div>
    </div>
</div>